*{
    font-family:'Courier New', Courier, monospace;
    margin:0px;
    padding:0px;
}
body::before{
    opacity:0.5;
    content:"";
    height:610px;
    z-index:-1;
    width:100%;
    top:0px;
    position: absolute;
    background: url('./static/gympic.webp') no-repeat center center;
}
nav{
    background-color: rgb(0, 0, 0);
    padding:5px 3px;
}
ul{
    display:flex;
    flex-direction: row;
}
li{
    list-style: none;
    padding:10px;
    
}
a{
    color:rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    padding: 12px;
}
h3{
    text-align:center;
}
.container{
    margin: 35px auto;
    max-width: 60%;
    color:rgb(0, 0, 0);
    /* background-color: burlywood; */
}
input,textarea{
    display:block;
    padding:3px;
    margin:7px auto;
    width:60%;
    outline:none;
    border:2px solid black;
    border-radius:5px;
}
.btn{
    margin: 4px auto;
    display: block;
    padding: 5px 172px;
    background-color: lightslategray;
    color: white;
    /* font-weight: bold; */
    letter-spacing: .7px;
    cursor: pointer;
}